COMPOSE_PROJECT_NAME=myxa-project

APP_NAME="Myxa App"
APP_ENV=local
APP_DEBUG=true
APP_URL=https://myxa.localhost
APP_TIMEZONE=UTC
APP_HOST=myxa.localhost
APP_PORT=80
APP_SSL_PORT=443
CACHE_STORE=local
CACHE_REDIS_CONNECTION=default
CACHE_REDIS_PREFIX=cache:
ROUTE_CACHE=false

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=myxa
DB_USERNAME=myxa
DB_PASSWORD=secret
DB_ROOT_PASSWORD=root
DB_FORWARD_PORT=3306

REDIS_CONNECTION=default
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_FORWARD_PORT=6379

STORAGE_DISK=local
RATE_LIMIT_STORE=file
